apiVersion: apps/v1
kind: Deployment
metadata:
  name: hono-api-deployment
  namespace: hono-system
  labels:
    app: hono-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hono-api-app
  template:
    metadata:
      labels:
        app: hono-api-app
    spec:
      containers:
        - name: hono-api-container
          image: malathals14/hono-api-image:v1.0.1
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          envFrom:
            - configMapRef:
                name: hono-api-config
            - secretRef:
                name: hono-api-secret
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
