apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: hono-system
  labels:
    app: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432